.agendaImagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    margin-top: 30px;
    margin-top: 10px;
    margin-left: 160px;
}

.agendaImagen img{
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin: 0 50% 0;
    z-index: 2;
    animation: animacion 1s ease-out forwards;
}

.calendario .campos{
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 10px #14207e5b;
    max-width: 600px;
    height: 350px;
    text-align: right;
    animation: animacion 1s ease-out forwards;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 3%;
}

.calendario label {
    display: block;
    margin-bottom: 5px;
    color: #14217e;
    padding-top: 10px;
}

.calendario input{
    padding: 5px;
    border-radius: 10px;
}

.desicion .agendar{
    position: absolute;
    background-color: darkblue;
    color: whitesmoke;
    cursor: pointer;
    margin: -180px 150px 0 800px;
    animation: animacion2 1s ease-out forwards;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}

.desicion .cancelar{
    cursor: pointer;
    position: absolute;
    background-color: #007BFF;
    color: whitesmoke;
    margin: -180px 150px 0 900px;
    animation: animacion2 1s ease-out forwards;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}

.desicion .cancelar a{
    text-decoration: none;
}

@keyframes animacion2 {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
