.contenedorAgendamiento {
    display: flex;
    flex-direction: column;
    animation: animacion 1s ease-out forwards;
    margin-bottom: 50px; /* Ajusta el valor para dar más o menos espacio */
}

.calendario {
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 10px 20px 10px #14207e5b;
    max-width: 800px; /* Aumenta el ancho del contenedor */
    margin: auto;
    margin-top: 10%;
    overflow: hidden;
}

.calendario label {
    display: block;
    margin-bottom: 1px;
    color: #14217e;
    padding-top: 10px;
}

.agendaImagen {
    flex: 1; /* Ocupa la mitad del contenedor */
    display: flex;
    align-items: center;
    justify-content: center;
}

.agendaImagen img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

.calendarioimputs {
    flex: 1; /* Ocupa la otra mitad del contenedor */
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px; /* Espacio entre los inputs */
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.calendarioimputs input[type="text"],
.calendarioimputs input[type="date"],
.calendarioimputs input[type="time"] {
    width: 100%; /* Ajusta el tamaño del input */
    box-sizing: border-box;
    padding: 8px; /* Ajusta el padding según lo que prefieras */
}

.buttonContainer {
    display: flex;
    gap: 40px; /* Añade espacio entre los botones */
}

.botonAgendar {
    flex: 1; /* Hace que ambos botones se expandan de forma proporcional */
    text-align: center;
    background-color: darkblue;
    color: whitesmoke;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 50px;
    border: none;
    animation: animacion2 1s ease-out forwards;
}

.botonCancelar {
    display: inline-block; /* Asegura que actúe como un botón */
    background-color: white;
    color: darkblue;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 50px;
    text-decoration: none; /* Quita el subrayado típico de los enlaces */
    animation: animacion2 1s ease-out forwards;
}

.botonAgendar:hover {
    background-color: #0622f0;
}

.botonCancelar:hover {
    background-color: #0621f031;
}
