.casas .Cocina img, .Balcon img, .Baños img, .Habitaciones img, .comedor .salaComedor{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
}

.container{
    display: flex;
    flex-direction: column;
}

@keyframes reveal {
    from{
        opacity: 0;
        scale: .5;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

.galeria {
    position: relative;
}

.galeria img, .galeria img slide{
    border-radius: 10px;
    overflow: hidden;
}

.descripcion {
    width: 90vw;
    margin: 10px 100px;
    
}

.descripcion img{
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.margaritas {
    width: 35vw;
    float: right;
    margin: 0px 40px;
    border-radius: 20px;
}

.titulo1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 20px;
    font-size: 30px;
}

.ubicacion {
    width: 90vw;
    margin: 0px 0px ;
    float: left;
}

.titulo2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px 120px;
    font-size: 30px;
    float: left;
}

.map {
    border-radius: 20px;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.parrafo1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 48vw;
    margin: 20px 20px;
    font-size: 18px;
}

.parrafo2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    margin: 20px 20px;
    font-size: 18px;
}

.comedor {
    align-items: center;
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.Cocina {
    align-items: center;
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.Balcon {
    align-items: center;
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.Baños {
    align-items: center;
    float: left;
    width: 25%;
    box-sizing: border-box;
}

.Habitaciones {
    align-items: center;
    float: left;
    width: 25%;
    box-sizing: border-box;
}


.habitaciones {
    width: 50px;
    height: 50px;
    float:left;
    margin: 0 10px 0 0;
}

.baños {
    width: 50px;
    height: 50px;
    float:left;
    margin: 0 10px 0 0;
}

.balcon {
    width: 50px;
    height: 50px;
    float:left;
    margin: 0 10px 0 0;
}

.cocina {
    width: 50px;
    height: 50px;
    float:left;
    margin: 0 10px 0 0;
}

.salaComedor {
    width: 50px;
    height: 50px;
    float:left;
    margin: 0 10px 0 0;
}

.link {
    list-style-type: none;
}

.link a{
    text-decoration: none;
}

body{
    margin: 0;
}