.footer{
 display: flex;
 justify-content: flex-end;
 align-items: flex-end;

 background-color: white;
}

.footerContainer{
    position: relative;
    width:  100%;
    background-color: rgb(2, 2, 196);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.social-icon li{
    list-style: none;
}

.icon{
    font-size: 32px;
    display: inline-block;
    margin: 0px 10px;
    transition: 0.5s;
}

.icon:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu li{
    list-style: none;
}

.enlace{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}

.enlace:hover{
    opacity: 1;
}

.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}