.general{
    background-image: url("../Images/login.jpg");
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.error-message{
    color: red;
    margin-bottom: 20px;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login form{
    background: transparent;
    padding: 40px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    animation: animacion 1s ease-out forwards;
}

@keyframes animacion {
    from {
        opacity: 0;
        transform: translateY(30%);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

h1 {
    margin-bottom: 20px;
    color: #14217e;
}

.form_control {
    margin-bottom: 20px;
    text-align: left;
}

.form_control label {
    display: block;
    margin-bottom: 5px;
    color: #14217e;
    /*color: #333;*/
}

.form_control input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    box-sizing: border-box;
}

.form_control input:focus {
    border-color: #14217e;
    outline: none;
}

.btn-submit {
    background-color: #14217e;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}

.btn-submit:hover {
    background-color: #0f1a63;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}