/* Estilos para la página de Management */
.containerManagement {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

/* Estilo para los encabezados de la lista de pagos */
.containerManagement h2 {
    font-size: 24px;
    font-weight: bold;
    color: darkblue;
}

/* Estilos para cada factura */
.factura {
    background-color: #dbdada;
    padding: 10px 15px;  /* Reducido el padding para que sean más angostos */
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;  /* Limitar el ancho máximo de cada factura */
    margin-left: auto;  /* Centrar el contenido horizontalmente */
    margin-right: auto;  /* Centrar el contenido horizontalmente */
}

/* Estilos para las secciones dentro de cada factura */
.Usuario, .fecha, .numero, .descripcionFactura {
    display: flex;
    justify-content: space-between;
}

/* Estilo para los títulos de cada sección */
.Usuario h3, .fecha h3, .numero h3, .descripcionFactura h3 {
    font-size: 16px;
    color: #424242;
}

/* Estilo para el contenido dentro de las secciones */
.Usuario p, .fecha p, .numero p, .descripcionFactura p {
    font-size: 16px;
    color: #333;
}

/* Estilos para el botón de pago */
.botonPago {
    background-color: #1773d5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto de hover para el botón de pago */
.botonPago:hover {
    background-color: #0056b3;
}

/* Estilos para la imagen dentro del botón de pago */
.botonPago img {
    width: 40px;
    height: 40px;
}

/* Espaciado adicional entre los elementos */
br {
    margin-bottom: 10px;
}
