*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.NavB{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    padding: 15px 118px;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
}

.Titulo{
    flex: 1;
}

.Titulo h1{
    font-size: 38px;
    color: white;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-right: 20px;
}

ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
    padding: 11px 15px;
    border-radius: 5px;
    transition: 0.5s ease;
}

ul li a:hover{
    background-color: blue;
}

.busqueda-bar{
    display: flex;
}

.busqueda-bar input{
    font-size: 16px;
    width: 215px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 5px;
}

.busqueda-bar button{
    font-size: 16px;
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}