/* TabNavigation.css */
.bg-blue-600 {
  background-color: #007BFF;
  cursor: pointer;
}

.bg-blue-600:hover {
  cursor: pointer;
}

.text-white {
  color: white;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.bg-gray-100 {
  background-color: #f3f4f6;
}

.text-gray-600 {
  color: #4b5563;
}

.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
